body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    /* height: 100vh; */
    background: linear-gradient(135deg, #153677, #4e085f);
    user-select: none;
}

.todo_head {
    max-width: 500px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    margin-top: 150px;
    justify-content: center;
    padding: 1rem 2rem;
}

.heading {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.heading > img {
    width: 30px;
    height: 30px;
}

.input_section {
    display: flex;
    align-items: center;
    position: relative;
}

.input_section > input {
    all: unset;
    background-color: #edeef0;
    padding: 1rem 1rem;
    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 70%;
}

.input_section > input::placeholder {
    font-size: 0.9em;
}

.input_section > button {
    all: unset;
    padding: 1rem 1rem;
    border-radius: 30px;
    margin-left: -30px;
    width: 50px;
    text-align: center;
    /* border-top-left-radius: 0;
    border-bottom-left-radius: 0; */
    background-color: #ff5945;
    color: #fff;
    cursor: pointer;
}

.error {
    display: none;
    position: absolute;
    bottom: -25px;
    left: 10px;
    color: red;
    font-size: 0.9rem;
}

.todo_list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    /* gap: 1rem; */
}

.todo > li {
    list-style: none;
    cursor: pointer;
    padding: 5px 8px 0px 50px;
    margin-bottom: 15px;
    width: 80%;
    text-align: left;
    position: relative;
}

.todo > li::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-image: url('../public/images/unchecked.png');
    background-size: cover;
    background-position: center;
    left: 15px;
    top: 2px;
}

.todo > li.checked::before {
    background-image: url('../public/images/checked.png');
}

.todo > li.checked {
    text-decoration: line-through;
}

.todo > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo > li > span {
    position: absolute;
    width: 20px;
    height: 25px;
    font-size: 1.2rem;
    padding: 0rem 0.4rem;
    text-align: center;
    right: 0;
}

.todo > li > span:hover {
    background-color: #c3c3c3;
}